
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.menu-container {
    display: flex;
    color: #fff;
    background-color: #2C303B;  /* Grey */
    padding: 20px 0;
    justify-content: center;
}

.menu {
    display:flex;
    width: 900px;
    justify-content: space-around;
}

.links {
    display:flex;
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
}

/*
.header-container{
    display: flex;
    color: #5995DA;
    background-color: #D6E9FE;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}*/

.layout_container{
    display: block;
    height: 700px;
    background-color: #FFFFFF;

}

.main-page {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    height:600px;

}




.main-container {
    display: flex;
    justify-content: center;
    background-color: #F09A9D;
    width: 60%;
}


/*
#main-container-p1 {
    background-image:
        url('photo_computer.jpg'),
        linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6));
    background-size:cover;
}
*/

#main-container-home {
  background:
    /* top, transparent white gradient */
    linear-gradient(
      rgba(0,0,0, 0.7),
      rgba(0,0,0, 0.7)
    ),
    /* bottom, image */
    url('photo_work.jpg');
    background-size: cover;
    /*color: white;*/
}


#main-container-p1 {
  background:
    /* top, transparent white gradient */
    linear-gradient(
      rgba(0,0,0, .9),
      rgba(0,0,0, .9)
    ),
    /* bottom, image */
    url('photo_laptop.jpg');
    background-size: cover;
    color: white;
}


#main-container-p2 {
  background:
    /* top, transparent white gradient */
    linear-gradient(
      rgba(0,0,0, 0.9),
      rgba(0,0,0, 0.9)
    ),
    /* bottom, image */
    url('photo_robot.jpg');
    background-size: cover;
    color: white;
}


#p2-content-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.page-item {
  /*border: 1px solid #fff;*/
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

}



#main-container-p3 {
  background:
    /* top, transparent white gradient */
    linear-gradient(
      rgba(0,0,0, 0.9),
      rgba(0,0,0, 0.9)
    ),
    /* bottom, image */
    url('photo_neuralnet.jpeg');
    background-size: cover;
    color: white;
}



.box-grid-container{
    width: 40%;
    height: 450px;
    display: flex;
    justify-content: center;    /* Change this */
    flex-wrap: wrap;
}

.box{
    display: flex;
    width: 225px;
    height: 225px;
    margin:2px;
    align-items: flex-end;
    justify-content: flex-end;
}









.box {

    border: 1px solid #ccc;
    display: flex;
    width: 225px;
    height: 225px;
    margin:2px;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
/*    background:
        linear-gradient(
         rgba(178,214,255, .6),
         rgba(178,214,255, .6)
        ),
         url('photo_work.jpg');
    background-size: cover;*/
}

.box:hover {
    transform: scale(1.05);
}

.box_home{
    background:
        linear-gradient(
        rgba(154,151,246, .7),
        rgba(154,151,246, .9)
        );

}

.box1 {
  background:
    linear-gradient(
      rgba(240,154,157, .6),
      rgba(240,154,157, .6)
    ),
    url('photo_laptop.jpg');
    background-size: cover;
    color: white;
}

.box2 {
  background:
/* top, transparent white gradient */

    linear-gradient(
      rgba(178,214,255, .6),
      rgba(178,214,255, .6)
    ),


    url('photo_robot.jpg');
    background-size: cover;
}


.box3 {
  background:

    linear-gradient(
      rgba(245,207,142, .6),
      rgba(245,207,142, .6)
    ),

    url('photo_neuralnet.jpeg');
    background-size: cover;
    color: white;
}



.link {
    color: white;
    display: flex;
    text-decoration: none;
    margin: 10px;
}

/*

.box:hover link {
  color: black;
}


@keyframes up-bump {
  0% { padding-top: 2em; }
  50% { padding-top: 1.5em; }
  100% { padding-top: 2em; }
}
@keyframes down-bump {
  0% { padding-top: 2em; }
  50% { padding-top: 2.5em; }
  100% { padding-top: 2em; }
}





*/

.display-text{
    /*color: white;*/
    margin: 10px;

}