#p2-console-out {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    display: flex;
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    justify-content: center;
}

.menu {
    display:flex;
    width: 900px;
    justify-content: space-around;
}

.links {
    display:flex;
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
}


.header-container{
    display: flex;
    color: #5995DA;
    background-color: #D6E9FE;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.layout_container{
    display: block;
    height: 700px;
    background-color: #000000;

}

.main-page {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    height:600px;

}


.main-container {
    display: flex;
    justify-content: center;
    background-color: #F09A9D;
    width: 60%;



}



.box-grid-container{
    width: 40%;
    height: 450px;
    display: flex;
    justify-content: center;    /* Change this */
    flex-wrap: wrap;
}

.box{
  width: 225px;
  height: 225px;
  margin:2px;
}


.box1 {
    background-color: #F5CF8E;
}

.box2 {
    background-color: #F09A9D;
}

.box3 {
    background-color: #C8C6FA;
}

.box4 {
    background-color: #C8C6FA;
}
